#accordionFlushExample
{
    border: 3px solid; 
    border-color: gray; 
    margin: 5px;
    margin-bottom: 0;
}

.akordionInhalt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bilderAkordion {
    height: 100px;
}

.textAkordion {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    align-items: center;
}

.inputDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
}

.labelInput {
    margin-right: 20px;
}

.input {
    margin-left: 0;
}

.addButton 
{
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color:forestgreen;
}

.unitText
{
    margin-right: 100px;
}

.btn 
{
    margin-left: 10px;
} 

footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
