#accordionFlushExample
{
    border: 3px solid; 
    border-color: gray; 
    margin: 5px;
    margin-bottom: 0;
}

.akordionInhalt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bilderAkordion {
    height: 100px;
}

.textAkordion {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    align-items: center;
}

.reservierungsListe
{
    margin-bottom: 10px;
}

.buttonsDiv
{
    display: flex;
    position: absolute;
    right: 0;
}

.acceptButton 
{
    height: 50px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    align-items: end;
    background-color: forestgreen;
    border-radius: 5%;
    border: none;
}

.cancelButton 
{
    width: 150px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: crimson;
    border-radius: 5%;
    border: none;
}
