main {
    background: var(--background);
    color: var(--text2);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    min-height: 86vh;
}

.textStart {
    width: 100%;
    text-align: center;
}

.bildStart{
    width: 100%;
    display: flex;
    justify-content: space-around;
}