main 
{
    background: var(--background);
    color: var(--text1);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    min-height: 86vh;
}

#accordionFlushExample
{
    border: 3px solid; 
    border-color: gray; 
    margin: 5px;
    margin-bottom: 0;
}

.akordionInhalt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bilderAkordion {
    height: 100px;
}

.textAkordion {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    align-items: center;
}

.inputDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    text-align: right;
}

.labelInput {
    margin-right: 10px;
}

.input {
    margin-left: 0;
}

.editButton 
{
    height: 50px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.editButton
{
    border-radius: 5px;
    border: none;
    background-color:goldenrod;
}

.deleteButton
{
    height: 50px;
    width: 150px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color:crimson;
}

.addImage
{
    margin-left: auto;
    height: 40px;
}

#addButtom
{
    position: relative;
    margin-left: auto;
}

footer 
{
    margin-top: -1.95%;
    width: 100%;
}


